*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "spartan", sans-serif;
    scroll-behavior: smooth;
    transition: 0.3s;
}

h1{
    font-size: 50px;
    line-height: 65px;
    color: #222;
}

h2{
    font-size: 45px;
    line-height: 55px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-size: 700;
    font-weight: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#banner button:hover{
    background-color: #088178;
    color: #fff;
}

body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    color: #1a1a1a;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#hero{
    background: url(hero4.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: rgb(243, 52, 52);
}

#hero p{
    color: #222;
}

#hero button{
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 15px 80px 15px 65px;
    cursor: pointer;
    background-image: url(button.png);
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
}

#product1{
    text-align: center;
}

#product1 p{
   color: #465b52;
}


#product1 .pro-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    position: relative;
    margin: 15px;
    cursor: pointer;
}

#product1 .pro:hover{
    box-shadow: 0 0 5px 0 #222;
}

#product1 .pro img{
    max-width: 100%;
    border-radius: 10px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 15px
}

#product1 .pro .des h5{
    padding-top: 5px;
    color: black;
    font-size: 15px;
}

#product1 .pro .des i{
    font-size: 15px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
   color: #088178;
   border: 1px solid #cce7d0;
   bottom: 20px;
   right: 10px;
   position: absolute;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center ;
    background: url(b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: fixed;
}

#banner h4 {
    color: white;
    font-size: 22px;
}

#banner h2{
    color: white;
    padding: 10px 0;
    font-size: 30px;
}
#banner h2 span{
    color: #ef3636;
}
#sm-banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px ;
}

#sm-banner .banner-box2{
    background-image: url(b10.jpg);
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

#sm-banner span{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 15px;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}

#newsletter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    height: 150px;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p{
    font-size: 15px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 15px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
 }

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .col p{
    margin-top: 10px;
}


footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
    color: #222;
    margin-top: 5px;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    margin-top: 10px;
}

footer .follow i{
    color: #465b52;
    padding-right: 5px;
    cursor: pointer;
    margin-top: 15px;
}


footer .follow h4{
    margin-top: 20px;
}

footer .follow i,a:hover{
      color: #088178;
} 

footer .col,.install p{
    margin-top: 10px;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}


@media (max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;  
        transition: 0.3s;
    }
    #navbar.active{
        right: 0px;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 25px;
        padding-left: 20px;
    }
    #close{
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 25px;
        display: initial;
    }
    #lg-bag{
        display: none;
    }
    #hero{
        background-position: top 30% right 30%;
        height: 90vh;
        padding: 0 80px;   
    }
    #product1 .pro-container{
        justify-content: center;
    }
    #product .pro{
        margin: 15px;
    }
    #banner{
        height: 20vh;
    }
    #sm-banner .banner-box{
        min-height: 100%;
        height: 30vh;
    }
    #newsletter .form{
        width: 70%;
    }
    #form-details{
        padding: 40px;
    }
    #form-details form{
        width: 50%;
    }
}

@media (max-width: 477px) {
    .section-p1{
        padding: 20px;
    }
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px;
        background-position: 55%;
    }
    #product .pro{
        width: 100%;
    }
    #banner{
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }
    #banner3{
        padding: 0 20px;
    }
    #banner .banner-box{
        width: 100%;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    }
    footer .copyright{
        text-align: start;
    }
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
        padding-top: 30px;
    }
    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details{
        width: 100%;
    }
    #about-head{
        flex-direction: column;
    }
    #about-head img{
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div{
        padding-left: 0px;
    }
    #about-app video{
        width: 100%;
    }
    #contact-details{
        flex-direction: column;
    }
    #contact-details .map{
        width: 100%;
    }
    #form-details{
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form{
        width: 100%;
        margin-bottom: 30px;
    }
}


/* shop css */

#page-header{
    background: url(b1a.jpg);
    width: 100%;
    height: 40vh;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

#page-header h2,p{
    color: white;
}

#pagination{
    text-align: center;
}

#pagination a{
    padding: 15px 20px;
    background-color: #088178;
    border-radius: 10px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 23%;
    cursor: pointer;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: #088178;
    color:white;
}

#prodetails .single-pro-details span{
    line-height: 25px;
    color: #465b52;
}


/* blog */

#page-header1{
    background: url(b19.jpg);
    width: 100%;
    height: 40vh;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

#page-header1 h2,p{
    color: white;
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details p{
    color: #465b52;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #222;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #088178;
}

/* about */

#page-header2{
    background: url(banner.png);
    width: 100%;
    height: 40vh;
    text-align: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
}

#page-header2 h2,p{
    color: white;
}

#about-head img{
    width: 50%;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head p{
    color: #465b52;
}

#about-head div{
    padding-left: 40px;
}

#about-app{
    text-align: center;
}

#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* contact */

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details details{
    width: 40%;
}

#contact-details div p{
    color: #222;
}

#contact-details details span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 25px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
   font-size: 15px;
   padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 15px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25%;
    margin-top: 50px;
    box-shadow: 0 0 5px 0 #465b52;
    padding: 20px;
}

#form-details form input,
#form-details form textarea{
    width: 90%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button{
    background-color: #088178;
    color: white;
}